body{
   background-image: url('/img/img.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

h1{
    text-align: center;
    color: #ffffff;
    background: linear-gradient(to right, #851976, #8a1184, #a50a98);
    border: 2px solid #8a1184;
    border: 2px solid #8a1184; border-radius: 20px; padding: 20px; margin: 0 auto;
    border-radius: 15px;
    padding: 20px;
    margin: 0px auto;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    display: block;
    background-color: lightblue;
    font-family:'Dancing Script' ,cursive;
    font-style: italic; 
}

h1:hover { transform: scale(1.05); /* aumenta levemente */ box-shadow: 0 6px 15px rgba(0,0,0,0.5);

}

p{
    color:#4b0d72;
    font-style: italic;
    font-size: 19px;
}

.galeria{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 30px 0;
}

.galeria img {

    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: transform 0.3s;
}

.galeria img:hover {
    transform: scale(1.05);
}

.galeria img {
    box-shadow: 0 4px 15px rgba(138, 17, 132, 0.6);
}

@media (max-width: 600px) {
    .galeria img {
        width: 120px;
        height: 120px;
    }
}

p {
    color: #4b0d72;
    font-style: italic;
    font-size: 19px;
    background-color: rgba(255, 255, 255, 0.7); /* fundo branco transparente */
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

p:hover {
    transform: scale(1.02); /* leve zoom */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0);
}

.flores {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; 
  overflow: hidden;
}

.flores span {
  position: absolute;
  top: -50px;
  font-size: 2rem;
  animation: cair 10s linear infinite;
}


@keyframes cair {
  0% {
    transform: translateY(-50px) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}


.flores span:nth-child(1) { left: 10%; animation-delay: 0s; }
.flores span:nth-child(2) { left: 25%; animation-delay: 2s; }
.flores span:nth-child(3) { left: 40%; animation-delay: 4s; }
.flores span:nth-child(4) { left: 55%; animation-delay: 6s; }
.flores span:nth-child(5) { left: 70%; animation-delay: 1s; }
.flores span:nth-child(6) { left: 85%; animation-delay: 3s; }
.flores span:nth-child(7) { left: 95%; animation-delay: 5s; }
.flores span:nth-child(8) { left: 15%; animation-delay: 7s; }
